<!DOCTYPE html>
<html>
	<head>
	   <% include templates/head.ejs%>
	</head>
	<header>
		<% include templates/header.ejs%>
	</header>	
	<body>
		<h1 id="page-title"><%= title %></h1>
		<table id='Table' class="table">
			<tr>
				<td>Name</td>
				<td>Picture</td>
			</tr>
			<% for(var i=0; i<data.length; i++) { %>
				<tr>
					<td>
						<a href = 'family/<%= data[i].first_name + " " + data[i].last_name %>' >
							<%= data[i].first_name + " " + data[i].last_name%>
						</a>
					</td>
					<td>
						<div class="img-container">
							<img src='<%= data[i].pic %>' class="img-circle"></img>
						</div>
					</td>
				</tr>
			<% } %>
		</table>
	</body>
	<footer>
		<% include templates/footer.ejs%>
	</footer>
</html>	