<h1 id="page-title"><%= title %></h1>

<h2>These are our <a href='/family'>familiy</a> members</h2>
<ul id='fromDB'>
    <% for(var i=0; i<data.length; i++) { %>
        <li>
            <%= data[i].Name %>
        </li>
    <% } %>
</ul>