<!DOCTYPE html>
<html>
	<head>
	   <% include templates/head.ejs%>
	   <script src="/javascripts/appfrontend.js"></script>
	</head>
	<body>
		<h1 id="page-title"><%= title %></h1>

		<h2>These are our <a href='/family'>familiy</a> members</h2>
	</body>
	<footer>
		<% include templates/footer.ejs%>
	</footer>
</html>		