<% var headerText = ['Home', 'Blog', 'Come Visit!']; %>
<% var headerLinks = ['/', '/blog', '/visit']; %>

<div class="container-fluid">
  <div class="row">
    <% for(var i=0; i<headerLinks.length; i++) { %>
			<a href='<%= headerLinks[i] %>'>
				<div class="col-md-1 header-link text-center">
					<%= headerText[i] %>
				</div>
			</a>
	<% } %>
  </div>
</div>