body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#center-pane {
  padding-left: 10px;
  padding-right: 10px;
}

a {
  color: #00B7FF;
}

header {
  background-color: #636BE3;
}

.header-link {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-link:hover {
  background-color: #F6AA39;
}

a .header-link{
  color: white;
}

.img-container {
    width: 140px;
    height: 140px;
}

/* resize images */
.img-container img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.modal-body img {
    width: 100%;
    height: auto;
}
